@model ClienteEPedidoViewModel

<div class="container">
    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <p>Cliente: <strong>@Model.Nome</strong></p>
            <p>Data do Pedido: <strong>@Model.PedidoEnviado</strong></p>
            <p>Número do Pedido: <strong>@Model.ClientePedidoId</strong></p>

            <table class="table">
                <tr>
                    <!--Cabeçalho-->
                    <th></th>
                    <th>Quantidade</th>
                    <th>Capinha</th>
                    <th>Preço Unitário</th>
                </tr>
                @foreach (var item in Model.ClientePedidos)
                {
                    <tr>
                        <td>
                            @if (item.Capinha != null && !string.IsNullOrEmpty(item.Capinha.ImagemUrl))
                            {
                                <img src="~/@item.Capinha.ImagemUrl" width="40" height="40" />
                            }
                        </td>
                        <td>@item.Quantidade</td>
                        <td>@item.Capinha?.NomeCelular </td>
                        <td>@item.Capinha?.Preco.ToString("c") </td>
                    </tr>
                }
            </table>

            <h4>Valor total do Pedido: <strong>@(((double)ViewBag.TotalPedido).ToString("c"))</strong></h4>
        </div>
    </div>
</div>
<div class="form-group" style="text-align :center">
    <h3>
        <a class="nav-link text-info" asp-controller="Home" asp-action="Index">Retornar</a>
    </h3>
</div>
