@model CapinhaListViewModel //view fortemente tipada do tipo List, onde era exibido apenas os dados das capinhas por meio deste codigo: IEnumerable<LanchesMac.Models.Capinha>
    <!--Agora com o CapinhaListViewModel posso usar a categoria, porque anteriormente era apenas os dados das capinhas-->



<div>
    <h2>@ViewData["Titulo"]</h2>
    @if ((string)ViewData["Titulo"] == "Suas Capinhas")
    {
            <a class="btn btn-primary" href="@Url.Action("Customizar", "CapinhaPerso")">Personalizar Capinha :)</a>
    }
</div>
<hr />

<div class="container">
    <div class="row">
        @if (ViewData["Mensagem"] != null)
        {
                <div class="alert alert-info">
                   @ViewData["Mensagem"]
                </div>
                <a class="btn btn-primary" href="@Url.Action("Customizar", "CapinhaPerso")">Personalizar Capinha :)</a>
        }
        else
        {
            @foreach (var capinha in Model.Capinhas) // essa variável Model, ela personaliza o @model, ou seja, vai personalizar os Modelos capinha
            {
                    <partial name="_CapinhasResumo" for="@capinha" />
               
            }
        }
        
    </div>
</div>

