@model ReflectionIT.Mvc.Paging.PagingList<SiteMagicCover.Models.ClientePedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="Filtre pelo Nome do Cliente"
           value="@Model.RouteValue["filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
    </button>
</form>

Total de Pedidos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoEntregueEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capinha.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @item.PedidoEnviado.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td>
                    @item.PedidoEntregueEm?.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capinha.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientePedidoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientePedidoId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
