@* @model IEnumerable<SiteMagicCover.Models.Capinha> *@
@model ReflectionIT.Mvc.Paging.PagingList<SiteMagicCover.Models.Capinha>

@{
    ViewData["Title"] = "Index";
}

<h1>Capinhas</h1>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="Filtre pelo Nome do Celular"
           value="@Model.RouteValue["filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Procurar
    </button>
</form>

Total de Capinhas : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
<p>
    <a asp-action="Create">Criar Capinha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPersonalizada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPersonalizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CapinhaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CapinhaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CapinhaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
